<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		Meu WhatsApp
	</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

	<div class="container">
		<h1>WathsApp Chat</h1>
		<div id="start" style="display: none;">
			<h2 id="user"></h2>
			<div class="window">
				<div id="box-chat"></div>
				<div class="input">
					<input id="text-input" type="text">
					<button id="send">ENVIAR</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="http://localhost:8080/socket.io/socket.io.js"></script>
	<script src="/assets/js/chat-system.js"></script>
	<script>
		new chatSystem({
			input: document.getElementById('text-input'),
			button: document.getElementById('send'),
			box: document.getElementById('box-chat'),
			userDisplay: document.getElementById('user'),
			start: document.getElementById('start'),
			io: io('http://localhost:8080', {
				transports: ['websocket', 'polling', 'flashsocket']
			}),
			user: prompt('Bem vindo ao WathsApp Chat, por favor informe um nickname: '),
			axios
		}).init()

	</script>
</body>

</html>
